<!DOCTYPE html>
<head>
    <title>linuxseller.ru</title>
    <link rel="stylesheet" href='/static/main.css'>
</head>
    <body>
        
        <div class="header">
            <a href="/">linuxseller.ru</a>: {% block heading %}{% endblock %}
            <input type="checkbox" id="nav-toggle" hidden>
            <label for="nav-toggle" class="nav-toggle" onclick></label>
            {% block navblock %}
            {% endblock %}
        </div>
        <div>
            login: {{request.cookies.get('login')}}
        </div>
        {% block content %}
        {% endblock %}
    </body>
</html>
